* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3367D6;
    color: white;
    width: 100%;
    height: 100px;
    vertical-align: middle;
}


/* 蓝白按钮 */
.button-wb {
    cursor: pointer;
    display: inline;
    text-align: center;
    padding: 4px 8px;
    margin: 10px auto;
    border: #3367D6 solid 1px;
    color: #3367D6;
    background-color: white;
    border-radius: 4px;
}

.button-wb-disabled {
    pointer-events: none;
    cursor: none;
    border: #999999 solid 1px;
    color: #999999;
}

.button-wb:hover {
    background-color: #ccebff
}

#logo {
    margin-right: 10px;
}

h1 {
    margin: 0px;
    padding-left: 10px;
    font-weight: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
    flex: 1;
}

#menu {
    color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    height: 60px;
    width: 50px;
    overflow: hidden;
}

#menu:hover {
    width: 300px;
    height: 180px;
    color: black;
    background-color: #e6e6e6;
    top: 62px;
    /* top = (height - 55) / 2 */
    transition: .5s background-color;
    box-shadow: inset 0px 0px 4px #bfbfbf;
}

#setting-text {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 10px;
    right: 180px;
    display: inline;
}

#setting-btn {
    font-size: 35px;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    float: right;
    padding: 10px;
    display: block;
}

#song-dir {
    position: absolute;
    top: 80px;
    height: 30px;
    width: 90%;
    left: 5%;
    right: 5%;
}

#song-dir-input {
    margin: 10px 0px;
    font-size: 20px;
    width: 100%;
}

#control-btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-right: 30px;
}

#control-btn.btn-start {
    background-color: #4CAF50;
    transition: .3s
}

#control-btn.btn-start:hover {
    background-color: white;
    color: #4CAF50;
}

#control-btn.btn-stop {
    background-color: #ff1a1a;
    transition: .3s;
}

#control-btn.btn-stop:hover {
    background-color: white;
    color: #ff1a1a;
}

#playing-icon {
    position: absolute;
    left: -30px;
    top: 6px;
}

.session {
    padding: 15px 10px 15px 10px;
    border-bottom: 1px solid #eee;
}

.session-head {
    margin-bottom: 15px;
    position: relative;
}

.setting-icon {
    margin-left: 20px;
    font-size: 25px !important;
}

.setting-icon:hover {
    cursor: pointer;
}

.session-name {
    background-color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4px 10px;
    border-radius: 5px;
    transition: .3s;
}

.session-name:hover {
    cursor: pointer;
    background-color: #ccebff;
}

.time-input {
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 15px;
    margin: 0px 4px;
    padding: 0px 2px;
    width: 18px;
    color: inherit;
    font-size: inherit;
    text-align: center;
}

.input-invalid {
    background-color: #ffb3b3;
    box-shadow: inset 0px 0px 3px #ff3333;
}

.left-time {
    font-size: 13px;
    padding: 4px;
    border: 1px solid #3367D6;
    color: #3367D6;
    border-radius: 8px;
    margin-right: 30px;
    cursor: default;
    position: absolute;
    right: 0px;
    bottom: 2px;
}

.song-box {
    border-radius: 5px;
    margin: 0px 20px;
    overflow: hidden;
    box-shadow: #d9d9d9 0px 0px 2px;
}

.song-line:nth-child(odd) {
    background-color: #f2f2f2;
}

.song-line:nth-child(even) {
    background-color: #e6e6e6;
}

p.song-line {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    padding: 4px;
    text-indent: 40px;
    cursor: pointer;
    position: relative;
    transition: .3s;
}

p.song-line:hover {
    position: relative;
    box-shadow: inset 0px 0px 4px #bfbfbf;
    text-indent: 45px;
}

.audio-wrap {
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    margin: 0px;
    padding: 20px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

footer {
    height: 92px;
}

#dialog-shadow {
    z-index: 2;
    position: fixed;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    opacity: .5;
}

.dialog-wrap {
    z-index: 2;
    position: fixed;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    border-radius: 10px;
    box-shadow: 0px 0px 2px #999999;
    padding: 5px 15px;
    width: 300px;
    background-color: white;
}

.dialog h1 {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.dialog ul {
    margin-left: 20px
}

.dialog li {
    line-height: 30px;
}

#error-confirm:hover {
    cursor: pointer;
}

.play-mode {
    font-size: 20px;
    margin: 0px 5px;
    border-radius: 3px;
    padding: 3px 5px;
}

.play-mode:hover {
    background-color: #f2f2f2;
}

.play-mode-selected {
    background-color: #e6e6e6;
}

.play-mode-selected:hover {
    background-color: #d9d9d9
}

#setting-dialog p {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#max-input {
    width: 28px;
}

.setting-msg {
    font-size: 12px;
    color: red;
    width: 100px;
    visibility: hidden;
}